* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#wrapper {
    display: flex;
    flex-direction: column;
    clear: both;
    height: 90vh;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
}

body {
    background-color: black;
    height: 100vh;
}

header {
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.15em;
}

#welcome h1 {
    font-size: 15vw;
    max-height: 10vh;
    margin-left: 2%;
    margin-top: 10%;
}

#message p {
    font-size: 3vw;
    margin-left: 10%;
    margin-right: 5%;
}

footer {
    color: white;
    text-align: center;
}

@media screen and (max-width: 374px) {
    header {
        display: flex;
        flex-direction: row;
    }

    #welcome h1 {
        font-size: 7vh;
        max-height: 7vh;
        margin-left: 2%;
        margin-top: 20%;
        margin-right: 2%;
    }

    #message p {
        font-size: 3vh;
        margin-left: 10%;
        margin-right: 5%;
    }
}

@media screen and (max-width: 425px) {
    #message p {
        font-size: 3vh;
        margin-left: 10%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 374px) {
    #header-left {
        float: left;
        align-items: center;
    }

    #header-left .dropdown {
        float: right;
    }

    #header-left .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        opacity: 85%;
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        overflow: visible;
        color: white;
        padding: 3px;
        text-decoration: none;
        text-align: left;
        font-weight: normal;
    }

    #header-left .dropdown:hover .dropdown-content {
        display: inline-block;
    }



    #header-right {
        float: right;
    }
}